.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h2,h3,h4 {
 color: rgb(67, 66, 66); 
}
.SwitchBtn{
  font-size: 90%;
  position: relative;
  margin: 5px; 
  border-radius: 8%;
  color: white;
  background-color: rgb(22, 126, 69);
}
