.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h2,h3,h4 {
 color: rgb(67, 66, 66); 
}

button,input{
  font-size: 90%;
  position: relative;
  top: 10vh;
  margin-left: 5px; 
  border-radius: 8%;
  color: white;
}
input{
  width: 75px; /* Default width */
  max-width: 150px;
  padding: 1px 3px;
  color: rgb(43, 42, 42);
}
.buttonInc{ 
  background-color: red; 
}
.buttonDec{ 
  background-color: green; 
}
.buttonReset{ 
  background-color: blue; 
}


.todo-card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
